[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RRMLRfMC"]
	path = RRMLRfMC
	url = https://github.com/cran/RRMLRfMC
	shallow = true
	registered = true
